<!DOCTYPE html>
<html>

<head>
    <title>Your Loan Application Has Been Rejected</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=""><img
                                                            src="https://images-platform.99static.com//C1Lts9XqQlpSIlINkRvqJGn3X5Y=/381x0:1624x1243/fit-in/500x500/99designs-contests-attachments/92/92762/attachment_92762823"
                                                            alt="Site logo" width="100" /></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Dear <span style="font-weight: 700;">{{name}}</span> ,
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            We regret to inform you that your loan application for <span style="font-weight: 700;">'{{loanName}}'</span> submitted on <span style="font-weight: 700;">{{applyingDate}}</span> has been rejected on first phase of verification.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                         Our team reviewed the details provided and unfortunately, we are unable to assign you agent.                     </td>
                    </tr>


                    <tr height="10">
                        <td></td>
                    </tr>

                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                           If you have any questions or concerns, please don't hesitate to contact us at "contactEmail".
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Thank you for considering our services.
                        </td>
                    </tr>


                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Your Company Name
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #333743">
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr height="8" style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                ">
                                                <td style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                "> &copy; All Rights Reserve</td>
                                            </tr>
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html>