<!DOCTYPE html>
<html>

<head>
    <title>"appName</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=""><img
                                                            src="https://images-platform.99static.com//C1Lts9XqQlpSIlINkRvqJGn3X5Y=/381x0:1624x1243/fit-in/500x500/99designs-contests-attachments/92/92762/attachment_92762823"
                                                            alt="Site logo" width="100" /></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Thank you for creating an account on "appName" ! To help ensure the security of your
                            account, we need to verify that the email address you provided during sign-up is valid.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            To do this, please enter the following verification code into the appropriate field on the
                            "appName" website:
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Verification code: {{otp}}.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Please note your OTP is valid for 1 minutes only.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            If you did not create an account on "appName", or if you received this email in error,
                            please disregard it.
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Thank you for using "appName", and we look forward to helping you with your hosting or
                            renting needs!
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            "emailSignature"
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            P.S. If you have any questions or concerns, please don't hesitate to contact us at
                            "contactEmai".
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #333743">
                                <tr>
                                    <td>
                                        <table width="100%"  cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr height="8" style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                ">
                                                <td style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                "> &copy; All Rights Reserve</td>
                                            </tr>
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>

    </table>
</body>

</html>