<!DOCTYPE html>
<html>

<head>
    <title>Your Loan Application Details</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=""><img
                                                            src="https://images-platform.99static.com//C1Lts9XqQlpSIlINkRvqJGn3X5Y=/381x0:1624x1243/fit-in/500x500/99designs-contests-attachments/92/92762/attachment_92762823"
                                                            alt="Site logo" width="100" /></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            We have received your loan application for '{{loanName}}' submitted on {{applyingDate}}.
                            Thank you for choosing our services.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            As we process your application, our team will review the details provided and contact you
                            for any additional information if needed.
                        </td>
                    </tr>


                    <tr height="10">
                        <td></td>
                    </tr>

                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            If you have any questions or concerns, please don't hesitate to contact us at
                            "contactEmail".
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Thank you for considering our services. We look forward to assisting you with your loan
                            application.
                        </td>
                    </tr>


                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Your Company Name
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            &copy; All Rights Reserved
                        </td>
                    </tr>

                    <tr height="10">
                        <td></td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html>
