<!DOCTYPE html>
<html>

<head>
    <title>"appName</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=""><img
                                                            src="https://images-platform.99static.com//C1Lts9XqQlpSIlINkRvqJGn3X5Y=/381x0:1624x1243/fit-in/500x500/99designs-contests-attachments/92/92762/attachment_92762823"
                                                            alt="Site logo" width="100" /></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            We wanted to extend a warm welcome to you and thank you for being a part of joining the SMS
                            Foundation. We are thrilled to have you as a member of our community.

                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            As an Admin, you now have access to a variety of features that will help you explore the
                            different activies. We're confident that you'll love using our platform and find it easy to
                            navigate.
                        </td>

            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

         <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Here is the Email And Password below through which you can Login. Once you successfully login, you can change your password as per the requirement.
                        </td>

            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Email : {{email}}
            </td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Password : {{password}}
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Thank you for using SMS Foundation, and we look forward to helping you with our team.
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Sincerely,
            </td>
        </tr>
        <tr height="0">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                SMS Foundation
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                If you have any questions or concerns, please don't hesitate to contact us at
                "contactEmai".
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #333743">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr height="10">
                                    <td></td>
                                </tr>
                                <tr height="8" style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                ">
                                    <td style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                "> &copy; All Rights Reserve</td>
                                </tr>
                                <tr height="10">
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                        <td width="41"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    <td width="55"></td>
    </tr>

    </table>
</body>

</html>