NOC template
<!DOCTYPE html>
<html>

<head>
    <title>Congratulations Page</title>
</head>

<body style="padding: 0; margin: 0;">
    <div style="padding: 5rem 2rem 5rem 2rem;">
        <table style="width:100%; border-collapse: collapse;">
            <tbody
                style="background-color: #eef6fb; display: flex; flex-direction: column; align-items: center; padding-bottom: 0rem;">
                <tr style="margin-bottom: -2rem;">
                    <th>
                        <img src="http://localhost:8080/logos/companyLogo.png" alt="logo"
                            style="position: relative; width: 6.25rem; top: -2.5rem;">
                    </th>
                   
                </tr>
                <tr style="margin-bottom: 0.5rem;">
                    <th style="color: #1c1c1c; font-size: 2.1875rem; font-weight: 700; text-transform: uppercase;">
                        <span style="margin-bottom: 1rem;">SMS FOUNDATION</span>
                    </th>
                </tr>
            </tbody>
            <tbody
            style="display: flex; flex-direction: column; align-items: center; padding-bottom: 2rem; margin-top: .4rem;">
            <tr style="background: rgba(214, 216, 216, 0.467); width: 100%; display: flex; justify-content: center;">
                <td
                    style="color: #1c1c1c; font-size: 1.625rem; font-weight: 700; text-transform: capitalize; text-align: center;">
                    <span style="font-weight: 300; display: block; margin-bottom: 0.5rem; text-transform: uppercase;">NO DUE CERTIFICATE</span>
                </td>
            </tr>
        </tbody>
        </table>
        <table style="width:100%; border-collapse: collapse; margin-top: 2rem;">
            <tbody >
                
                <tr>
                    <td style="display: flex; flex-direction: column; align-items: flex-start; gap: .5rem;">
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Loan ID : </label>
                            <span
                                style="display:inline-block; background-color: #eaf8fc; font-size: 0.8125rem; border: 1px solid #6cd3e7c8; border-radius: 0.1875rem; padding-top: 0.09rem; padding-bottom: 0.09rem; font-weight: 400; min-width: 15.5rem; text-align: center;">LOS61235TR765
                            </span>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Loan Start Date :</label>
                            <span
                                style="display:inline-block; background-color: #eaf8fc; font-size: 0.8125rem; border: 1px solid #6cd3e7c8; border-radius: 0.1875rem; padding-top: 0.09rem; padding-bottom: 0.09rem; font-weight: 400; min-width: 15.5rem; text-align: center;">12/02/2024
                            </span>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Loan End Date :</label>
                            <span
                                style="display:inline-block; background-color: #f6e3e3; font-size: 0.8125rem; border: 1px solid #f21a1a; border-radius: 0.1875rem; padding-top: 0.09rem; padding-bottom: 0.09rem; font-weight: 400; min-width: 15.5rem; text-align: center;"> 12/03/2024
                            </span>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Loan Amount : </label>
                            <span
                                style="display:inline-block; background-color: #f6e3e3; font-size: 0.8125rem; border: 1px solid #f21a1a; border-radius: 0.1875rem; padding-top: 0.09rem; padding-bottom: 0.09rem; font-weight: 400; min-width: 15.5rem; text-align: center;"> 5000/-
                            </span>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Date : 
                            </label>
                            <span
                                style="display:inline-block; background-color: #eaf8fc; font-size: 0.8125rem; border: 1px solid #6cd3e7c8; border-radius: 0.1875rem; padding-top: 0.09rem; padding-bottom: 0.09rem; font-weight: 400; min-width: 15.5rem; text-align: center;"> 13/03/2024
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%; border-collapse: collapse; margin-top: 2rem;">
            <tbody style="display: flex; align-items: flex-start; gap: 1rem; flex-direction: column;">
                <tr>
                    <td style="display: flex; flex-direction: column; align-items: flex-start; gap: 1rem;">

                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">To, </label>
                            
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Name of the Borrower: </label>
                            
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Address of the Borrower:</label>
                            
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Subject: Loan status of Personal Loan of CRN: <span style="font-weight: 700;">LOS61235TR765</span> </label>
                            
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">This is to certify that Mr.<span style="font-weight: 700;">MD AATIF</span> has availed a personal loan of 
                                loan of <span style="font-weight: 700;">Rs 5000/</span> on <span style="font-weight: 700;">12/02/2024</span> under Loan ID: <span style="font-weight: 700;">LOS61235TR765</span> from <span style="font-weight: 700;">SMS Foundation.</span>  </label>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;"> He / She has fully repaid the outstanding due in the loan account on <span style="font-weight: 700;">12/03/2024</span>  and we have
                                no charges due on said product. We would like to thank you for working with us and hope you give us a chance
                                 to serve you again in the future.</label>
                        </div>

                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">We further conforrm that no outstanding payment is due or payable in relation to the Loan by the customer in the books of Co-Lenders </label>
                        </div>

                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Yours faithfully</label>
                        </div>
                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">Chief Operating Manager</label>
                        </div>

                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;"><span style="font-weight: 700;">Disclaimer :-</span></label>
                        </div>

                        <div>
                            <label
                                style="font-weight: 400; margin-right: 1rem; display: inline-block; min-width: 9rem; text-align: start;">The NOC letter will not be applicable in case this loan gets closed due to technical error or if the same is unpaid</label>
                        </div>
                    </td>
                </tr>
                <tr style="display: flex; gap: 2rem">
                   
                </tr>
            </tbody>
        </table>
        
    </div>
</body>

</html>